{
	"index": 0,
	"TRAIN_FRAC": 0.7,
	"ACTIVATION_FUNCTION": "relu",
	"EMBDS_PER_PATIENTS": 64,
	"NORMALIZE_OUTCOMES": false,
	"VAL_FRAC_MURMUR": 0.3,
	"NOISE_IMAGE_SIZE": 64,
	"MURMUR_IMAGE_SIZE": 108,
	"RESHUFFLE_PATIENT_EMBS_N": 4,
	"class_weight_murmur": 4,
	"class_weight_decision": 2,
	"class_weight_outcome": 1,
	"batch_size_murmur": 128,
	"REMOVE_NOISE": false,
	"EMBS_SIZE": 32,
	"N_DECISION_LAYERS": 2,
	"N_OUTCOME_LAYERS": 3,
	"NEURONS_DECISION": 256,
	"DROPOUT_IN_DECISION": true,
	"DROPOUT_VALUE_IN_DECISION": 0.5,
	"NEURONS_OUTCOME": 32,
	"DROPOUT_IN_OUTCOME": false,
	"DROPOUT_VALUE_IN_OUTCOME": 0.25,
	"N_MURMUR_CNN_NEURONS_LAYERS": 64,
	"DROPOUT_VALUE_IN_MURMUR": 0.1,
	"N_MURMUR_LAYERS": 2,
	"UNKOWN_RANDOM_MIN_THRESHOLD": 1.0,
	"FINAL_DECISION_THRESHOLD": 0.11,
	"BATCH_SIZE_DECISION": 4,
	"IMG_HEIGHT_RATIO_lbl": 0.5,
	"parameter_id": "29859ffa-b7aa-4584-b2f4-bca7636d98b2",
	"start_running_timestamp": null,
	"murmur_file": null,
	"outcome_file": null,
	"mean_murmur": NaN,
	"std_murmur": NaN,
	"std_outcome": NaN,
	"mean_outcome": NaN,
	"RUN_TEST" : false
}
