{'ACTIVATION_FUNCTION': 'leaky_relu',
 'BATCH_SIZE_DECISION': 32,
 'DROPOUT_IN_DECISION': False,
 'DROPOUT_IN_OUTCOME': False,
 'DROPOUT_VALUE_IN_DECISION': 0.1,
 'DROPOUT_VALUE_IN_MURMUR': 0.25,
 'DROPOUT_VALUE_IN_OUTCOME': 0.25,
 'EMBDS_PER_PATIENTS': 64,
 'EMBS_SIZE': 16,
 'IMG_HEIGHT_RATIO_lbl': 0.8,
 'MURMUR_IMAGE_SIZE': 108,
 'NEURONS_DECISION': 256,
 'NEURONS_OUTCOME': 8,
 'NOISE_IMAGE_SIZE': 108,
 'NORMALIZE_OUTCOMES': True,
 'N_DECISION_LAYERS': 2,
 'N_MURMUR_CNN_NEURONS_LAYERS': 64,
 'N_MURMUR_LAYERS': 2,
 'N_OUTCOME_LAYERS': 2,
 'REMOVE_NOISE': True,
 'RESHUFFLE_PATIENT_EMBS_N': 1,
 'TRAIN_FRAC': 0.7,
 'UNKOWN_RANDOM_MIN_THRESHOLD': 0.8,
 'VAL_FRAC_MURMUR': 0.3,
 'batch_size_murmur': 128,
 'class_weight_decision': 1,
 'class_weight_murmur': 1,
 'class_weight_outcome': 4,
 'index': 0,
 'mean_murmur': 0.7266,
 'mean_outcome': 14928.728,
 'parameter_id': '2756a4a0-bfc9-426b-8330-1e32e0658bb6',
 'start_running_timestamp': '2022-07-19 01:30:41.755886',
 'std_murmur': 0.0379249258404021,
 'std_outcome': 209.645396857408}