{
	"index": 0,
	"TRAIN_FRAC": 0.8,
	"ACTIVATION_FUNCTION": "leaky_relu",
	"EMBDS_PER_PATIENTS": 16,
	"NORMALIZE_OUTCOMES": true,
	"VAL_FRAC_MURMUR": 0.2,
	"NOISE_IMAGE_SIZE": 108,
	"MURMUR_IMAGE_SIZE": 108,
	"RESHUFFLE_PATIENT_EMBS_N": 4,
	"class_weight_murmur": 1,
	"class_weight_decision": 1.5,
	"class_weight_outcome": 4,
	"batch_size_murmur": 128,
	"REMOVE_NOISE": true,
	"EMBS_SIZE": 8,
	"N_DECISION_LAYERS": 2,
	"N_OUTCOME_LAYERS": 2,
	"NEURONS_DECISION": 16,
	"DROPOUT_IN_DECISION": true,
	"DROPOUT_VALUE_IN_DECISION": 0.25,
	"NEURONS_OUTCOME": 8,
	"DROPOUT_IN_OUTCOME": true,
	"DROPOUT_VALUE_IN_OUTCOME": 0.25,
	"N_MURMUR_CNN_NEURONS_LAYERS": 128,
	"DROPOUT_VALUE_IN_MURMUR": 0.25,
	"N_MURMUR_LAYERS": 2,
	"UNKOWN_RANDOM_MIN_THRESHOLD": 1.0,
	"FINAL_DECISION_THRESHOLD": 0.05,
	"BATCH_SIZE_DECISION": 4,
	"IMG_HEIGHT_RATIO_lbl": 0.5,
	"parameter_id": "29859ffa-b7aa-4584-b2f4-bca7636d98b2",
	"start_running_timestamp": null,
	"murmur_file": null,
	"outcome_file": null,
	"mean_murmur": NaN,
	"std_murmur": NaN,
	"std_outcome": NaN,
	"mean_outcome": NaN,
    "AUGMENT_RATE" : 0,
	"RUN_TEST" : true
}
